<% layout('layout') -%>

<div class="col-xs-12 col-sm-9">
  <p class="pull-right visible-xs">
    <button type=button class="btn btn-primary btn-xs" data-toggle=offcanvas>Toggle nav</button>
  <div class=jumbotron>
    <h1>Hello, Webduino!</h1>
    <p>
      Webduino 這個名稱的由來，就是 Web 與 Arduino 這兩個單字的結合，
      有別於傳統要寫 C 或 C++ 才能控制 Arduino 的傳感器，Webduino 利用了
      WebComponents 的方法，讓使用者只需要撰寫簡單的網頁程式 ( HTML 與 Javascript )，
      就可以串接 Arduino 大幅降低開發的門檻，讓創造力不受技術門檻的拘束，
      利用各式各樣形形色色的傳感器，創造與眾不同的物聯網應用。
    </p>
  </div>
  <div class=row>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      <p>
        <a class="btn btn-default" href=# role=button>View details &raquo;</a>
    </div>
  </div>
</div>